@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
  scroll-behavior: smooth;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
nav a {
  font-size: 1rem; /* Masaüstünde büyük metin */
}

.header-icon {
  justify-content: flex-start; /* Yolu ikonunu sola al */
}
h1 {
  font-size: 4rem; /* Mobilde başlık boyutunu küçült */
}
p {
  font-size: 1rem; /* Mobilde açıklama metnini küçült */
}
.downloadButton {
  padding: 20px 100px; /* Mobilde buton boyutunu küçült */
  font-size: 1.25rem; /* Mobilde buton metni boyutu */
}
.downloadText {
  font-size: 1.5rem;
}
/* Mobil cihazlar için düzen */
@media (max-width: 768px) {
  nav a {
    font-size: 1.25rem; /* Mobilde metin boyutunu küçült */
    text-align: center; /* Menü öğelerini ortala */
  }

  .header-icon {
    justify-content: center; /* Yolu ikonu ortalansın */
  }
  h1 {
    font-size: 2.5rem; /* Mobilde başlık boyutunu küçült */
    letter-spacing: 0.6px;
  }

  p {
    font-size: 0.9rem;
    letter-spacing: 0.6px;
    /* Mobilde açıklama metnini küçült */
  }

  .downloadButton {
    padding: 15px 60px; /* Mobilde buton boyutunu küçült */
    font-size: 1rem; /* Mobilde buton metni boyutu */
  }
  .downloadText {
    font-size: 1rem;
  }
  /* Bars ikonu ve kapatma işareti */
  .menu-toggle {
    font-size: 1.5rem; /* Bars ikonu ve kapatma işareti boyutu */
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}
